<div class="container">
    <mat-card>
        <mat-card-title>Welcome Back, <span>Login</span> <br> to Continue.</mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input type="text" matInput required name="username" autofocus>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput required name="password">
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="">Login</button>
            </form>
            <div class="foot">Don't remeber your password <span><a href="#">forget?</a></span></div>
        </mat-card-content>
    </mat-card>
</div>